.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 35px;
}
.header-info{  
  display: grid;
  width: 100%;
  grid-template-areas:
    'logo links';
    grid-template-columns: auto auto;
  grid-gap: 30px;
}
.logo{
  grid-area: logo;
  text-align: center;
}
.logo-img{
  width: 150px;
}
.links{
  grid-area: links;
  text-align: center;
}
.main{
  text-align: left;
  background: url('/images/index-image.jpg') no-repeat;
  min-height: 150vh;
}
.main-info{  
  display: grid;
  width: 100%;
  grid-template-areas:
    'titles other';
    grid-template-columns: auto auto;
  grid-gap: 30px;
}
.titles{
  grid-area: titles;
  text-align: center;
}
.estagio{
    font-size: 80px;
    color: #fff;
}
.estagio-sub{
  font-size: 30px;
  color: #fff;    
}

.App-link {
  color: #61dafb;
}

.App-footer {
  background: url('/images/rodape-desktop.jpg') no-repeat;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'HelveticaUltraLight';
  src: url('./Fonts/ps.ttf') format('truetype');
}
